In [3]:
#导入相关包
import numpy as np
import pandas as pd

In [4]:
#导入相关数据
data=[
    [1,0,0,'打球'],
    [1,0,1,'打球'],
    [0,1,1,'打球'],
    [0,0,1,'不打球'],
    [1,1,1,'打球'],
]

In [5]:
#封装计算熵的函数
def ent(data):
    df=pd.DataFrame(data)
    data_length=len(data)
    target=df.iloc[:,-1]
    label_counts=target.value_counts()
    label_dict=label_counts.to_dict()
    entropy=0
    for key in label_dict:
        prob = float(label_dict[key])/data_length
        entropy -= prob * np.log2(prob)
    return entropy

In [6]:
#测试计算熵的函数
ent(data)

0.7219280948873623

In [9]:
#封装分割数据的函数
def split(data,feature_rank):
    df = pd.DataFrame(data)
    groups = df.groupby(by=feature_rank)
    data_group={}
    for key in groups.groups.keys():
        data_group[key] = df.loc[groups.groups[key],:]
    return data_group

In [10]:
#测试封装数据的函数
data_group=split(data,0)

In [12]:
#查看分割后数据的分类名称
data_group.keys()

dict_keys([0, 1])

In [13]:
#查看第1个分类
data_group[0]

   0  1  2    3
2  0  1  1   打球
3  0  0  1  不打球

In [14]:
#查看第2个分类
data_group[1]

   0  1  2   3
0  1  0  0  打球
1  1  0  1  打球
4  1  1  1  打球

In [15]:
#初始化原始数据的熵
#以上步骤主要是函数的封装，下面正式进入信息增益的计算
init_ent = ent(data)

In [16]:
#选定要计算的特征
#这里选择第1列特征
feature_rank = 0

In [17]:
#分割数据
data_group=split(data,feature_rank)

In [18]:
#初始化将要计算的熵的值
new_ent=0

In [20]:
#计算该特征的信息熵
for key in data_group:
    prob = len(data_group[key])/len(data)
    new_ent += prob*ent(data_group[key])

In [21]:
#得到信息增益
info_gain=init_ent-new_ent
info_gain

0.3219280948873623