In [1]:
import pandas as pd

In [2]:
#导入具体数据
data=[
    [1,0,0,'打球'],
    [1,0,1,'打球'],
    [0,1,1,'打球'],
    [0,0,1,'不打球'],
    [1,1,1,'打球']
    ]

In [3]:
#创建数据框
#默认columns是0，1，2，3，他们代表了0：天气因素，1：是否满员，2：是否加班，3：目标变量
df = pd.DataFrame(data)
df

   0  1  2    3
0  1  0  0   打球
1  1  0  1   打球
2  0  1  1   打球
3  0  0  1  不打球
4  1  1  1   打球

In [4]:
#创建筛选条件
selector = df.loc[:,0]==1
selector

0     True
1     True
2    False
3    False
4     True
Name: 0, dtype: bool

In [5]:
#筛选数据
#筛选特征0中值为1的实例
df_split = df[selector]
df_split

   0  1  2   3
0  1  0  0  打球
1  1  0  1  打球
4  1  1  1  打球